
{% extends 'base.html' %}

{% block content %}

<main class="container py-5" >
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam necessitatibus animi possimus magnam cupiditate quasi, rem debitis, laborum eius facilis sunt quaerat amet quas voluptatibus odio. Perspiciatis sapiente necessitatibus deleniti nostrum, maiores, repudiandae, ex hic non mollitia ipsa eum eligendi? Facilis dolore adipisci ut cumque magnam, veritatis sunt atque libero omnis, tenetur dicta consectetur sed at similique unde sit corrupti enim pariatur nostrum cupiditate harum esse voluptatem. Amet rerum minima perferendis consequuntur corporis, in inventore cum nihil, facilis atque magni voluptatem necessitatibus ex explicabo natus accusamus recusandae aut dicta beatae debitis deserunt totam? Placeat natus officia aliquid, sit praesentium eaque.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>




{% endblock %}
    
<!--  -->